body {
    margin: 0;
    padding: 0;
    background: #484242;
}

.slider {
    width: 1000px;
    height: 500px;
    margin: 100px auto;
    background: url('./images/me.jpg');
    background-repeat: no-repeat;
    animation: slide 20s infinite;
}

@keyframes slide {
    25% {
        background: url('./images/me.jpg');
    }
    50% {
        background: url('./images/me2.jpg');
    }
    75% {
        background: url('./images/me.jpg');
    }
    100% {
        background: url('./images/me2.jpg');
    }
}